function EscapingBallGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 215
push constant 30
call Circle.new 3
pop this 0
push constant 0
pop this 4
push constant 0
pop this 3
call Obstacle.init 0
pop temp 0
push constant 5
pop this 2
push this 2
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 0
push constant 245
push constant 64
call Obstacle.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 72
push constant 200
push constant 128
call Obstacle.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 256
push constant 150
push constant 32
call Obstacle.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 320
push constant 100
push constant 96
call Obstacle.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 448
push constant 50
push constant 63
call Obstacle.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function EscapingBallGame.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Obstacle.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Circle.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function EscapingBallGame.moveBall 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
push this 0
call Obstacle.touched 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Circle.moveUp 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 0
call Circle.moveDown 1
pop temp 0
label IF_END1
push this 4
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Circle.moveLeft 1
pop temp 0
label IF_FALSE2
push this 4
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Circle.moveRight 1
pop temp 0
label IF_FALSE3
push constant 0
return
function EscapingBallGame.moveObstacles 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Obstacle.moveUp 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 20
call Sys.wait 1
pop temp 0
push constant 0
return
function EscapingBallGame.updateScore 0
push argument 0
pop pointer 0
push this 3
push constant 20
add
pop this 3
push constant 0
push constant 52
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 0
return
function EscapingBallGame.updateGameObjects 0
push argument 0
pop pointer 0
push pointer 0
call EscapingBallGame.moveBall 1
pop temp 0
push pointer 0
call EscapingBallGame.moveObstacles 1
pop temp 0
push pointer 0
call EscapingBallGame.updateScore 1
pop temp 0
push this 0
call Circle.reachedTop 1
push this 0
call Circle.reachedBottom 1
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 11
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
return
label IF_FALSE0
push this 3
push constant 19999
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 11
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function EscapingBallGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call EscapingBallGame.updateGameObjects 1
pop local 2
push local 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop this 4
label IF_FALSE2
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop this 4
label IF_FALSE3
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call EscapingBallGame.updateGameObjects 1
pop local 2
push local 2
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
